numpy
pandas
openpyxl
tabulate
scikit-learn
matplotlib
seaborn
notebook
tabulate
torch 
torchvision 
torchaudio 
--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
streamlit
streamlit-chat